@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trash Service</h1>
    <p>Need trash picked up? You've come to the right place! </p>
    
    <img src ="https://previews.123rf.com/images/passengerz/passengerz1912/passengerz191200085/136209274-heavy-dump-truck-funny-giant-vector-cute-cars-with-eyes-and-mouth-children-vector-illustration.jpg" width="500"/>
</div>
