@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trash Service</h1>
    <p>Need trash picked up? You've come to the right place! </p>
    
    <img src ="https://previews.123rf.com/images/passengerz/passengerz1912/passengerz191200085/136209274-heavy-dump-truck-funny-giant-vector-cute-cars-with-eyes-and-mouth-children-vector-illustration.jpg" width="500"/>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2915.986397359205!2d-87.90980050000002!3d43.04171769999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8805190bcceaa807%3A0xc68ce82a69be941a!2sMilwaukee%20City%20Hall!5e0!3m2!1sen!2sus!4v1616678070808!5m2!1sen!2sus" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>
